TopGame/x64/
TopGame/Debug/
TopGame/TopGame.sdf
TopGame/TopGame.VC.opendb
TopGame/TopGame.VC.db
Lab2/Lab2.2/RemoveExtraSpaces/Debug/
Lab2/Lab2.2/Test/Debug/
Lab2/Lab2.2/Test/Test.vcxproj.user
TopGame/.vs/TopGame/v14/.suo
TopGame/TopGame/Debug/
TopGame/TopGame/x64/Debug/
TopGame/TopGame.VC.VC.opendb
TP/Snake/.vs/Snake/v14/.suo
TP/Snake/Debug/
TP/Snake/Snake.VC.db
TP/Snake/Snake.sdf
TP/Snake/Snake/Debug/
TP/Snake/Snake/x64/
TP/Snake/x64/
