TopGame/x64/
TopGame/Debug/
TopGame/TopGame.sdf
TopGame/TopGame.VC.opendb
TopGame/TopGame.VC.db
Lab2/Lab2.2/RemoveExtraSpaces/Debug/
Lab2/Lab2.2/Test/Debug/
Lab2/Lab2.2/Test/Test.vcxproj.user
TopGame/.vs/TopGame/v14/.suo
TopGame/TopGame/Debug/
TopGame/TopGame/x64/Debug/
TopGame/TopGame.VC.VC.opendb
TP/Snake/.vs/Snake/v14/.suo
TP/Snake/Debug/
TP/Snake/Snake.VC.db
TP/Snake/Snake.sdf
TP/Snake/Snake/Debug/
TP/Snake/Snake/x64/
TP/Snake/x64/
TP/Lab7.1/.vs/Lab7.1/v14/.suo
TP/Lab7.1/Lab7.1.VC.db
TP/Lab7.1/Lab7.1.VC.VC.opendb
TP/Lab7.1/Lab7.1/x64/
TP/Lab7.1/x64/
TP/Lab7.3/.vs/Lab7.3/v14/.suo
TP/Lab7.3/Lab7.3.VC.VC.opendb
TP/Lab7.3/Lab7.3.VC.db
TP/Lab7.3/Lab7.3/Lab7.3.vcxproj
TP/Lab7.3/Lab7.3/Lab7.3.vcxproj.filters
TP/Lab7.3/Lab7.3/x64/
TP/Lab7.3/x64/
